// 全局樣式
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  font-family: $font-family;
  color: $text-color;
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary-color;
}

/* 標題樣式 */
h1 {
  font-size: 2em;
  text-align: center;
  margin-top: 0.5em;
  color: $text-color;
}

/* 表單樣式 */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em auto;
  max-width: 300px;
  background-color: #fff;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* 標籤樣式 */
label {
  font-size: 1.2em;
  margin-bottom: 0.5em;
  color: $text-color;
}

/* 輸入欄位樣式 */
input {
  font-size: 1.2em;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  background-color: $secondary-color;
  margin-bottom: 1em;
  color: $text-color;
  text-align: center;
}

/* 按鈕樣式 */
button {
  background-color: $secondary-color;
  color: #fff;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  margin-top: 1em;
}

p {
  margin: 0;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;

  li {
    margin: 0 10px;

    a {
      text-decoration: none;
      color: $text-color;

      &:hover {
        color: $text-color-hover;
      }
    }
  }
}