// 螢幕尺寸參數
$small-screen: 768px; // (iPad, portrait mode)
$medium-screen: 992px;
$large-screen: 1200px;
$x-large-screen: 1440px;


$main-color: #8B0000;
$bg-color: #F5DEB3;
$text-color: #000;

$primary-color: #42b983;
$secondary-color: #35495e;
$font-family: 'Helvetica Neue', Arial, sans-serif;